
body{
    margin: 0 20px 0 20px;
    font-family: 'Oswald';
    font-size: large;
}


nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: darkcyan;
}
a:hover{
    text-decoration: none;
    color: rgb(209, 149, 38);
}

form div{
    display: flex;
    flex-direction: column;
}