
body{
    font-family: 'Oswald';
    font-size: large;
    margin: 3%;
}
 .active{
    font-weight: bold;
    color: rgb(209, 149, 38);
 }

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;

}
nav a{
    text-decoration: none;
    color: darkcyan;
}
a:hover{
    text-decoration: none;
    color: rgb(209, 149, 38);
}

form div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.logo{
    width: 80px;
}
#bloques{
    margin-top: 50px;
}
.bloque a{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(221, 221, 221);
    margin: 25px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.bloque a:hover{
    text-decoration: none;
    color: darkcyan;
    background-color: rgb(245, 223, 181);
}
.bloque a img, h3{
    margin: 15px;
}
button{
    width: 100%;
    height: 40px;
    font-family: 'Oswald';
    font-size: 20px;
    background-color: darkcyan;
    color: white;
    border-style: none;
    border-radius: 5px;
}
.iconoMiniatura{
    height: 40px;
}
.trabajo div{
    display: flex;
    align-items: center;
}
.fechas{
    font-style: italic;
    color: grey;
    margin: 0px;
    font-size: medium;
}
footer{
    text-align: center;
}


@media screen and (min-width: 900px){
    body{
        margin: 0 20% 0 20%;
    }
    .bloque{
        width: 50%;

    }
    #bloques{
        display: flex;
        justify-content: center;
    }
    #presentacion{
        margin-top: 120px;
    }
    .trabajo div{
        display: flex;
        align-items: center;
    }
    .trabajo{
        width: calc(100px + 27%);
        margin: 10px;
    }
    #trabajos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
