
body{
    font-family: 'Oswald';
    font-size: large;
    margin: 3%;
}
 .active{
    font-weight: bold;
    color: rgb(209, 149, 38);
 }

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;

}
nav a{
    text-decoration: none;
    color: darkcyan;
}
a:hover{
    text-decoration: none;
    color: rgb(209, 149, 38);
}

form div{
    display: flex;
    flex-direction: column;
}
.logo{
    width: 80px;
}
#bloques{
    margin-top: 50px;
}
.bloque a{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(221, 221, 221);
    margin: 25px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.bloque a:hover{
    text-decoration: none;
    color: darkcyan;
    background-color: rgb(245, 223, 181);
}
.bloque a img, h3{
    margin: 15px;
}



@media screen and (min-width: 900px){
    body{
        margin: 0 20% 0 20%;
    }
    .bloque{
        width: 50%;

    }
    #bloques{
        display: flex;
        justify-content: center;
    }
}
